<section id="filtro">
  <h3>Tipo</h3>
  <section id="tipoWrapper">
    <label for="calcas">
      <input type="checkbox" [checked]="tipoSelecionado.includes('calças')" (change)="toggleTipo('calças')" /> Calças
    </label>
    <label for="camisa">
      <input type="checkbox" [checked]="tipoSelecionado.includes('camisa')" (change)="toggleTipo('camisa')" /> Camisa
    </label>
    <label for="casaco">
      <input type="checkbox" [checked]="tipoSelecionado.includes('casaco')" (change)="toggleTipo('casaco')" /> Casaco
    </label>
    <label for="tshirt">
      <input type="checkbox" [checked]="tipoSelecionado.includes('t-shirt')" (change)="toggleTipo('t-shirt')" /> T-Shirt
    </label>
    <label for="sweatshirt">
      <input type="checkbox" [checked]="tipoSelecionado.includes('sweatshirt')" (change)="toggleTipo('sweatshirt')" /> Sweatshirt
    </label>
  </section>

  <h3>Cor</h3>
  <section id="corWrapper">
    <label for="azul">
      <input type="checkbox" [checked]="corSelecionada.includes('Azul')" (change)="toggleCor('Azul')" /> Azul
    </label>
    <label for="cinzento">
      <input type="checkbox" [checked]="corSelecionada.includes('Cinzento')" (change)="toggleCor('Cinzento')" /> Cinzento
    </label>
    <label for="laranja">
      <input type="checkbox" [checked]="corSelecionada.includes('Laranja')" (change)="toggleCor('Laranja')" /> Laranja
    </label>
    <label for="preto">
      <input type="checkbox" [checked]="corSelecionada.includes('Preto')" (change)="toggleCor('Preto')" /> Preto
    </label>
  </section>
</section>







