h2 {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  margin: 50px 0;
}
#mensagem {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
img {
  width: 150px;
  height: 200px;
}
p:not(#mensagem) {
  width: 100%;
}
#marca {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}
#nome {
  font-size: 1.1rem;
  text-align: center;
}
#preco {
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}
#btnWrapper {
  margin: 0 !important;
  padding: 0 !important;

}
#btnRemover {
  background-color: #c76407;
  color: #fff;
  font-weight: 700;
  width: 100px;
  height: 30px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
#btnVoltar {
  display: flex;
  justify-content: center;
}
button {
  text-align: center;
  background-color: #000;
  opacity: 0.5;
  color: #fff;
  margin: 20px;
}
@media screen and (max-width: 800px) {
  h2 {
    font-size: 2rem;
  }
  #marca,
  #nome,
  #preco {
    font-size: 1.1rem;
  }
}
