h2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 50px;
    text-transform: uppercase;
}
button {
    text-align: center;
    background-color: #000;
    opacity: .5;
    color: #fff;
    margin: 20px;
}
#btnNotFound {
    text-align: center;
}