<!-- <header>
  <app-header></app-header>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <app-footer></app-footer>
</footer> -->

<!-- <app-homem></app-homem>
<app-infoproduto></app-infoproduto> -->
<!-- <app-home></app-home> -->
<!-- <app-loginmodal></app-loginmodal> -->
<!-- <app-filtro></app-filtro> -->
<!-- <app-wishlist></app-wishlist> -->
<!-- <app-carrinho></app-carrinho> -->
<!-- <app-eliminarmodal></app-eliminarmodal> -->
<app-gestaoutilizadores></app-gestaoutilizadores>